{%  extends 'layout.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    {% if titleMode %}
        <h1>Edition d'un article</h1>
    {% else %}
        <h1>Création d'un article</h1>
    {%  endif %}
    

    {{ form_start(formArticle) }} <!-- Début du form -->

        {# {{ form_widget(formArticle) }} Affichage du form en ayant plus de code dans le controller #}
        
        {# form_row nous affiche tout ce qu'il faut pour un champs, le label, les erreurs etc 
        en param on lui donner un tableau pour les options de notre champs #}
        {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.content, {'attr': {'placeholder': "Cotenu de l'article"}})  }}
        {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'article"}})  }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {%  endif %}
        </button>

    {{ form_end(formArticle) }} <!-- Fin du form -->
{% endblock %}